# SPDX-License-Identifier: MIT
---
- name: Set platform/version specific variables
  include_tasks: tasks/set_vars.yml

- name: Ensure required packages are installed
  package:
    name: "{{ __snapshot_packages }}"
    state: present
    use: "{{ (__snapshot_is_ostree | d(false)) |
              ternary('ansible.posix.rhel_rpm_ostree', omit) }}"

- name: Check for space and name problems
  ansible.builtin.include_tasks: check.yml
  when: snapshot_lvm_action == "check" and not snapshot_lvm_verify_only

- name: Verify Complete
  ansible.builtin.include_tasks: verify_complete.yml
  when: snapshot_lvm_action == "check" and snapshot_lvm_verify_only

- name: Snapshot Volumes
  ansible.builtin.include_tasks: snapshot.yml
  when: snapshot_lvm_action == "snapshot"

- name: Cleanup Previous Snapshots
  ansible.builtin.include_tasks: cleanup.yml
  when: snapshot_lvm_action == "clean" and not snapshot_lvm_verify_only

- name: Verify Cleanup
  ansible.builtin.include_tasks: verify_cleanup.yml
  when: snapshot_lvm_action == "clean" and snapshot_lvm_verify_only

- name: Revert to Snapshot
  ansible.builtin.include_tasks: revert.yml
  when: snapshot_lvm_action == "revert"

- name: Extend Snapshots
  ansible.builtin.include_tasks: extend.yml
  when: snapshot_lvm_action == "extend"
